@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    font-family: "Poppins", sans-serif !important;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    position: relative;
}

.container-fluid {
    height: 100%;
}

.row {
    height: 100%;
}

.col-md-4 {
    display: flex;
    align-items: start;
}

.back-to-login {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    text-decoration: none;
    color: rgb(68, 68, 68);
    box-sizing: border-box;
}

.back-to-login:hover,
.back-to-login:active,
.back-to-login:focus {
    text-decoration: none;
    outline: none;
}

#forgotPasswordForm {
    width: 300px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    width: 100%;
}

#message {
    margin-top: 10px;
    text-align: center;
    width: 100% !important; /* Force full width */
}

.alert {
    display: block !important; /* Force block display */
    width: 100% !important; /* Force full width */
}